.Rproj.user
.DS_Store
.Rhistory
*.rds
.Rhistory
.Rhistory
.Rhistory
.Rhistory
manuscript.docx
*.docx
manuscript.pdf
submit_version.md
astrobayes_manuscript_revised.pdf
discussion/comment_responses.pdf
track_changes.pdf
